{% macro loop(page, isDropdown) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}

        {% if isDropdown %}
            <li>
                <a href="{{ p.url|e }}" class="dropdown-item {{ current_page|e }}">
                    {% if p.header.icon %}<i class="mdi mdi-{{ p.header.icon|e }}"></i>{% endif %}
                    {{ p.menu|e }}
                </a>
            </li>
        {% else %}
            {% if p.children.visible.count > 0 %}
                <li class="nav-item dropdown">
                    <a href="{{ p.url|e }}" class="nav-link dropdown-toggle {{ current_page|e }}">
                        {% if p.header.icon %}<i class="mdi mdi-{{ p.header.icon|e }}"></i>{% endif %}
                        {{ p.menu|e }}
                    </a>
                    <ul class="dropdown-menu">
                        {{ _self.loop(p, true) }}
                    </ul>
                </li>
            {% else %}
                <li class="nav-item {{ current_page|e }}">
                    <a href="{{ p.url|e }}" class="nav-link">
                        {% if p.header.icon %}<i class="mdi mdi-{{ p.header.icon|e }}"></i>{% endif %}
                        {{ p.menu|e }}
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul class="nav">
    {% if config.theme.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class="nav-item">
                <a href="{{ page.url|e }}" class="nav-link {{ current_page|e }}">
                    {% if page.header.icon %}<i class="mdi mdi-{{ page.header.icon|e }}"></i>{% endif %}
                    {{ page.menu|e }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
    {% for mitem in site.menu %}
        <li class="nav-item">
            <a href="{{ mitem.url|e }}" class="nav-link">
                {% if mitem.icon %}<i class="mdi mdi-{{ mitem.icon|e }}"></i>{% endif %}
                {{ mitem.text|e }}
            </a>
        </li>
    {% endfor %}
</ul>
